.footer__container {
  width: 100%;
  padding: 40px 30px;
  /* margin-top: 40px; */
  background-color: #3b455a;
}

.footer__wrapper {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .footer__left {
  margin-left: 40px;
} */
.footer__icons {
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
  padding-top: 40px;
}
.footer__icons svg {
  color: #f7f4f4;
}
.footer__icons svg:hover {
  color: #2c2b2b;
}
.footer__middle h3,
.footer__right h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}
.footer__middle p,
.footer__right p {
  color: #9d9d9d;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer__right {
  margin-right: 60px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    padding: 0;
  }
  .footer__left {
    margin-left: 0px;
  }
}
@media (max-width: 668px) {
  .footer__wrapper {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  .footer__icons {
    margin-left: 20px;
    padding-top: 30px;
  }
  .footer__right {
    margin-left: 20px;
    margin-right: 0;
  }
  .footer__middle {
    padding-top: 20px;
  }
  .footer__container {
    padding: 10px 10px;
  }
}
