.signin__container {
  width: 80%;
  height: 420px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
}
.signin__wrapper {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.signin__title {
  margin-bottom: 25px;
}

.signin__title h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.signin__title p span {
  color: #f6912b;
  cursor: pointer;
}
.signin__inputs input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  /* outline-color: lightgreen; */
}
.signin__inputs input:focus {
  border-bottom: 2px solid #f6912b;
  outline: none;
}

/* Custom styles for the input field */
.password__input {
  position: relative;
  width: 100%;
}

/* Icon styles */
.password_eye_icon {
  position: absolute;
  right: 5%;
  top: 40%;
  transform: translateY(-50%); /* Centers the icon vertically */
  color: gray;
  opacity: 0.6;
  cursor: pointer;
  font-size: 18px; /* Adjust the size of the icon */
}

/* Hover effect on the icon */
.password_eye_icon:hover {
  opacity: 1;
  color: #f6912b;
}

.signin__terms {
  margin-bottom: 25px;
  font-size: 18px;
  color: #f6912b;
  text-align: end;
}
.signin__wrapper button {
  width: 100%;
  padding: 15px 0px;
  color: white;
  font-size: 18px;
  background-color: #516cf0;
  border: none;
  cursor: pointer;
}
.signin__wrapper button:hover {
  opacity: 1;
  background-color: #2346f5;
}
.toast__message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
.signup__wrapper button:hover {
  opacity: 1;
  background-color: #2346f5;
}
@media (max-width: 768px) {
  .signin__title h4 {
    font-size: 15px;
    font-weight: 400;
  }
  .signin__wrapper {
    margin-top: 10px;
  }
  .signin__wrapper button {
    width: 100%;
    padding: 10px 0px;
    color: white;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .signin__container {
    padding-top: 20px;
    height: auto;
    margin-left: 35px;
    margin-top: -30px;
    margin-bottom: -50px;
  }

  .signin__title p {
    font-size: 12px;
  }
}
